<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Tupperware Products</title>
    {% load staticfiles%}
    <link rel="stylesheet" type="text/css" href="{% static 'v4/main/deals.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'header/css/header.css' %}" />
</head>
<body>
{% include 'header/header.html' %}
<table width="973" border="0" align="center">
  <tr>
    <td width="166" height="249" align="center">
    	<nav class="floating-menu">
<h3>Categories</h3>

<div class="nav">      
				<ul id="menu">        
					<li class="mens">
						<a href="/products/category/men">Mens</a>
                        	<ul>
								<li><a href="Mens_Body.html">Body Spray</a></li>
								<li><a href="Mens_Deo.html">Deodorant</a></li>
							</ul>
					</li>       
					
				  <li class="womens">
						<a href="/products/category/women">Womens</a>
							 <ul>
								<li><a href="Womens_Deo.html">Deodorant</a></li>
								<li><a href="Womens_Fragrance.html">Fragrance</a></li>
								<li><a href="Womens_Lotion.html">Lotion</a></li>
							</ul>
							
					</li>       
					
				  <li class="kids">
						<a href="/products/category/kids">Kids</a>
					</li>       

				  <li class="tupperware">
						<a href="/products/category/tupperware">Tupperwares</a>
					</li>        
					
				  <li class="deals">
						<a class="active" href="/products">Best Deals</a>
					</li>      
				</ul>   
			</div>

</nav>
    </td>
    <td width="263"><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td> <img src="Product.jpg" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></td>
        <td align="center" valign="middle">&nbsp;</td>
        <td><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></td>
      </tr>
    </table></td>
    <td width="263"><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="Product.jpg" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></td>
        <td align="center">&nbsp;</td>
        <td><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></td>
      </tr>
    </table></td>
    <td width="263"><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="Product.jpg" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></td>
        <td align="center">&nbsp;</td>
        <td><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="248">&nbsp;</td>
    <td><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="Product.jpg" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></td>
        <td align="center">&nbsp;</td>
        <td><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></td>
      </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="Product.jpg" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></td>
        <td align="center">&nbsp;</td>
        <td><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></td>
      </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="Product.jpg" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></td>
        <td align="center">&nbsp;</td>
        <td><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="226">&nbsp;</td>
    <td><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="Product.jpg" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></td>
        <td align="center">&nbsp;</td>
        <td><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></td>
      </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="Product.jpg" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></td>
        <td align="center">&nbsp;</td>
        <td><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></td>
      </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="Product.jpg" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></td>
        <td align="center">&nbsp;</td>
        <td><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="Product.jpg" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></td>
        <td align="center">&nbsp;</td>
        <td><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></td>
      </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="Product.jpg" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></td>
        <td align="center">&nbsp;</td>
        <td><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></td>
      </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="Product.jpg" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></td>
        <td align="center">&nbsp;</td>
        <td><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
