<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tupperware Products</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'header/css/header.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'v4/main/MEN.css' %}"/>
</head>

<body>
{% include 'header/header.html' %}
<table width="328" border="0" align="center">
  <tr>
    <td width="30" align="center"><a href="Mens/Pages/Mens1.html">Previous</a></td>
    <td width="20" align="center"><a href="Mens/Pages/Mens1.html"><strong>1</strong></a></td>
    <td width="20" align="center"><a href="Mens/Pages/Mens2.html">2</a></td>
    <td width="20" align="center"><a href="Mens/Pages/Mens3.html">3</a></td>
    <td width="20" align="center"><a href="Mens/Pages/Mens4.html">4</a></td>
    <td width="30" align="center"><a href="Mens/Pages/Mens2.html">Next</a></td>
  </tr>
</table>
<p>&nbsp;</p>
<table width="973" border="0" align="center">
  <tr>
    <td width="166" rowspan="4" align="center">
    	<nav class="floating-menu">
<h3>Cathegories</h3>

<div class="nav">      
				<ul id="menu">        
					<li class="mens">
						<a  class="active" href="/products/category/men">Mens</a>
                        	<ul>
								<li><a href="Mens/Subs/Mens_Body1.html">Body Spray</a></li>
								<li><a href="Mens/Subs/Mens_Deo1.html">Deodorant</a></li>
							</ul>
					</li>       
					
				  <li class="womens">
						<a href="/products/category/women">Womens</a>
							<ul>
								<li><a href="Womens/Subs/Womens_Deo1.html">Deodorant</a></li>
								<li><a href="Womens/Subs/Womens_Fragrance1.html">Fragrance</a></li>
								<li><a href="Womens/Subs/Womens_Lotion1.html">Lotion</a></li>
							</ul>
							
					</li>       
					
				  <li class="kids">
						<a href="/products/category/kids">Kids</a>
					</li>       

				  <li class="tupperware">
						<a href="/products/category/tupperware">Tupperwares</a>
					</li>        
					
				  <li class="deals">
						<a href="/products">Best Deals</a>
					</li>      
				</ul>   
			</div>

</nav>
    </td>
    <td width="263" height="249"><table width="260" border="0">
      <tr>
        <td colspan="3" align="center">24 Hour Dry Zone Men Endurance</td>
        </tr>
      <tr>
        <td colspan="3" align="center"><img src="{% static 'v4/Mens/Pictures/All/24-hour-dry-zone-men-endurance.png' %}" width="200" height="200"  alt=""/></td>
        </tr>
      <tr>
        <td width="66"><a href="#"><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></a></td>
        <td width="114" align="center" valign="middle">&nbsp;</td>
        <td width="66"><a href="#"><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></a></td>
      </tr>
    </table></td>
    <td width="263"><table width="260" border="0">
      <tr>
        <td colspan="3" align="center">24 Hour Dry Zone Men Ice</td>
        </tr>
      <tr>
        <td colspan="3" align="center"><img src="{% static 'v4/Mens/Pictures/All/24-hour-dry-zone-men-ice.png' %}" width="200" height="200"  alt=""/></td>
        </tr>
      <tr>
        <td width="66"><a href="#"><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></a></td>
        <td width="114" align="center">&nbsp;</td>
        <td width="66"><a href="#"><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></a></td>
      </tr>
    </table></td>
    <td width="263"><table width="260" border="0">
      <tr>
        <td colspan="3" align="center">Exclusively His Madrid Aromatic Woody</td>
        </tr>
      <tr>
        <td colspan="3" align="center"><img src="{% static 'v4/Mens/Pictures/All/exclusively-his-madrid-aromatic-woody.png' %}" width="200" height="200"  alt=""/></td>
        </tr>
      <tr>
        <td width="66"><a href="#"><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></a></td>
        <td width="114" align="center">&nbsp;</td>
        <td width="66"><a href="#"><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="248"><table width="260" border="0">
      <tr>
        <td colspan="3" align="center">Exclusively His New York Fougere Green</td>
        </tr>
      <tr>
        <td colspan="3" align="center"><img src="{% static 'v4/Mens/Pictures/All/exclusively-his-new-york-fougere-green.png' %}" width="200" height="200"  alt=""/></td>
        </tr>
      <tr>
        <td width="66"><a href="#"><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></a></td>
        <td width="114" align="center">&nbsp;</td>
        <td width="66"><a href="#"><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></a></td>
        </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td colspan="3" align="center">Exclusively His Venice Woody Musky</td>
        </tr>
      <tr>
        <td colspan="3" align="center"><img src="{% static 'v4/Mens/Pictures/All/exclusively-his-venice-woody-musky.png' %}" width="200" height="200"  alt=""/></td>
        </tr>
      <tr>
        <td width="66"><a href="#"><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></a></td>
        <td width="114" align="center">&nbsp;</td>
        <td width="66"><a href="#"><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></a></td>
      </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td colspan="3" align="center">Fast Citrus Cool Toothpaste</td>
        </tr>
      <tr>
        <td colspan="3" align="center"><img src="{% static 'v4/Mens/Pictures/All/fast-citrus-cool-toothpaste.png' %}" width="200" height="200"  alt=""/></td>
        </tr>
      <tr>
        <td width="66"><a href="#"><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></a></td>
        <td width="114" align="center">&nbsp;</td>
        <td width="66"><a href="#"><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="226"><table width="260" border="0">
      <tr>
        <td colspan="3" align="center">Fast Mint Toothpaste</td>
        </tr>
      <tr>
        <td colspan="3" align="center"><img src="{% static 'v4/Mens/Pictures/All/fast-mint-toothpaste.png' %}" width="200" height="200"  alt=""/></td>
        </tr>
      <tr>
        <td width="66"><a href="#"><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></a></td>
        <td width="114" align="center">&nbsp;</td>
        <td width="66"><a href="#"><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></a></td>
        </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td colspan="3" align="center">Fast Mouthwash</td>
        </tr>
      <tr>
        <td colspan="3" align="center"><img src="{% static 'v4/Mens/Pictures/All/fast-mouthwash.png' %}" width="200" height="200"  alt=""/></td>
        </tr>
      <tr>
        <td width="66"><a href="#"><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></a></td>
        <td width="114" align="center">&nbsp;</td>
        <td width="66"><a href="#"><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></a></td>
      </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td colspan="3" align="center">Fast Original Toothpaste</td>
        </tr>
      <tr>
        <td colspan="3" align="center"><img src="{% static 'v4/Mens/Pictures/All/fast-original-toothpaste.png' %}" width="200" height="200"  alt=""/></td>
        </tr>
      <tr>
        <td width="66"><a href="#"><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></a></td>
        <td width="114" align="center">&nbsp;</td>
        <td width="66"><a href="#"><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="260" border="0">
      <tr>
        <td colspan="3" align="center">H-Man Classic Citrus Woody Fougere Body Mist</td>
        </tr>
      <tr>
        <td colspan="3" align="center"><img src="{% static 'v4/Mens/Pictures/All/h-man-citrus-floral-woody-body-mist.png' %}" width="134" height="200"  alt=""/></td>
        </tr>
      <tr>
        <td width="66"><a href="#"><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></a></td>
        <td width="114" align="center">&nbsp;</td>
        <td width="66"><a href="#"><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></a></td>
        </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td colspan="3" align="center">H-Man Classic Citrus Woody Fougere Body Spash</td>
        </tr>
      <tr>
        <td colspan="3" align="center"><img src="{% static 'v4/Mens/Pictures/All/h-man-citrus-floral-woody-body-splash.png' %}" width="102" height="200"  alt=""/></td>
        </tr>
      <tr>
        <td width="66"><a href="#"><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></a></td>
        <td width="114" align="center">&nbsp;</td>
        <td width="66"><a href="#"><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></a></td>
      </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td height="40" colspan="3" align="center">H-Man Citrus Floral Woody Body Spray</td>
        </tr>
      <tr>
        <td colspan="3" align="center"><img src="{% static 'v4/Mens/Pictures/All/h-man-citrus-floral-woody-body-spray.png' %}" width="80" height="200"  alt=""/></td>
        </tr>
      <tr>
        <td width="66"><a href="#"><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></a></td>
        <td width="114" align="center">&nbsp;</td>
        <td width="66"><a href="#"><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></a></td>
      </tr>
    </table></td>
  </tr>
</table>
<p>&nbsp;</p>
<table width="328" border="0" align="center">
    <tr>
    <td width="30" align="center"><a href="Mens/Pages/Mens1.html">Previous</a></td>
    <td width="20" align="center"><a href="Mens/Pages/Mens1.html"><strong>1</strong></a></td>
    <td width="20" align="center"><a href="Mens/Pages/Mens2.html">2</a></td>
    <td width="20" align="center"><a href="Mens/Pages/Mens3.html">3</a></td>
    <td width="20" align="center"><a href="Mens/Pages/Mens4.html">4</a></td>
    <td width="30" align="center"><a href="Mens/Pages/Mens2.html">Next</a></td>
  </tr>
</table>
</body>
</html>
