<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Tupperware Products</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'header/css/header.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'v4/main/tupperware.css' %}"/>
</head>

<body>
{% include 'header/header.html' %}
<table width="265" border="0" align="center">
  <tr>
    <td width="62" align="center"><a href="Tupperware/Pages/Tupperware1.html">Previous</a></td>
    <td width="38" align="center"><a href="Tupperware/Pages/Tupperware1.html"><strong>1</strong></a></td>
    <td width="38" align="center"><a href="Tupperware/Pages/Tupperware2.html">2</a></td>
    <td width="38" align="center"><a href="Tupperware/Pages/Tupperware3.html">3</a></td>
    <td width="67" align="center"><a href="Tupperware/Pages/Tupperware2.html">Next</a></td>
  </tr>
</table>
<p>&nbsp;</p>
<table width="973" border="0" align="center">
  <tr>
    <td width="166" rowspan="4" align="center">
    	<nav class="floating-menu">
<h3>Cathegories</h3>

<div class="nav">      
				<ul id="menu">        
					<li class="mens">
						<a href="/products/category/men">Mens</a>
                        	<ul>
								<li><a href="Mens/Subs/Mens_Body1.html">Body Spray</a></li>
								<li><a href="Mens/Subs/Mens_Deo1.html">Deodorant</a></li>
							</ul>
					</li>       
					
				  <li class="womens">
						<a href="/products/category/women">Womens</a>
							<ul>
								<li><a href="Womens/Subs/Womens_Deo1.html">Deodorant</a></li>
								<li><a href="Womens/Subs/Womens_Fragrance1.html">Fragrance</a></li>
								<li><a href="Womens/Subs/Womens_Lotion1.html">Lotion</a></li>
							</ul>
							
				  </li>       
					
				  <li class="kids">
						<a href="/products/category/kids">Kids</a>
				  </li>       

				  <li class="tupperware">
						<a class="active" href="/products/category/tupperwares">Tupperwares</a>
				  </li>        
					
				  <li class="deals">
						<a href="/products">Best Deals</a>
				  </li>      
				</ul>   
		  </div>

</nav>
    </td>
    <td width="263" height="249"><table width="260" border="0">
      <tr>
        <td colspan="3" align="center">Chef Cooking Inspire Casserole</td>
        </tr>
      <tr>
        <td colspan="3" align="center"><img src="{% static 'v4/Tupperware/Pictures/chef-cooking-inspire-casserole.png' %}" width="200" height="200"  alt=""/></td>
        </tr>
      <tr>
        <td width="66"><a href="#"><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></a></td>
        <td width="114" align="center" valign="middle">&nbsp;</td>
        <td width="66"><a href="#"><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></a></td>
      </tr>
    </table></td>
    <td width="263"><table width="260" border="0">
      <tr>
        <td colspan="3" align="center">Chef Cooking Inspire Frypan</td>
        </tr>
      <tr>
        <td colspan="3" align="center"><img src="{% static 'v4/Tupperware/Pictures/chef-cooking-inspire-frypan.png' %}" width="200" height="200"  alt=""/></td>
        </tr>
      <tr>
        <td width="66"><a href="#"><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></a></td>
        <td width="114" align="center">&nbsp;</td>
        <td width="66"><a href="#"><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></a></td>
      </tr>
    </table></td>
    <td width="263"><table width="260" border="0">
      <tr>
        <td colspan="3" align="center">Chef Cooking Inspire Stock Pot</td>
        </tr>
      <tr>
        <td colspan="3" align="center"><img src="{% static 'v4/Tupperware/Pictures/chef-cooking-inspire-stock-pot.png' %}" width="200" height="200"  alt=""/></td>
        </tr>
      <tr>
        <td width="66"><a href="#"><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></a></td>
        <td width="114" align="center">&nbsp;</td>
        <td width="66"><a href="#"><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="248"><table width="260" border="0">
      <tr>
        <td colspan="3" align="center">Chef Cooking Inspire Wok</td>
        </tr>
      <tr>
        <td colspan="3" align="center"><img src="{% static 'v4/Tupperware/Pictures/chef-cooking-inspire-wok.png' %}" width="200" height="200"  alt=""/></td>
        </tr>
      <tr>
        <td width="66"><a href="#"><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></a></td>
        <td width="114" align="center">&nbsp;</td>
        <td width="66"><a href="#"><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></a></td>
        </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td colspan="3" align="center">Entertain Crescendo Pitcher And Tumbler</td>
        </tr>
      <tr>
        <td colspan="3" align="center"><img src="{% static 'v4/Tupperware/Pictures/entertain-crescendo-pitcher-and-tumbler.png' %}" width="200" height="200"  alt=""/></td>
        </tr>
      <tr>
        <td width="66"><a href="#"><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></a></td>
        <td width="114" align="center">&nbsp;</td>
        <td width="66"><a href="#"><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></a></td>
      </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td colspan="3" align="center">Food Conservation Freezermates</td>
        </tr>
      <tr>
        <td colspan="3" align="center"><img src="{% static 'v4/Tupperware/Pictures/food-conservation-freezermates.png' %}" width="200" height="200"  alt=""/></td>
        </tr>
      <tr>
        <td width="66"><a href="#"><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></a></td>
        <td width="114" align="center">&nbsp;</td>
        <td width="66"><a href="#"><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="226"><table width="260" border="0">
      <tr>
        <td colspan="3" align="center">Food Conservation Fridgemates</td>
        </tr>
      <tr>
        <td colspan="3" align="center"><img src="{% static 'v4/Tupperware/Pictures/food-conservation-fridgemates.png' %}" width="200" height="200"  alt=""/></td>
        </tr>
      <tr>
        <td width="66"><a href="#"><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></a></td>
        <td width="114" align="center">&nbsp;</td>
        <td width="66"><a href="#"><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></a></td>
        </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td colspan="3" align="center">Food Conservation Ricesmart</td>
        </tr>
      <tr>
        <td colspan="3" align="center"><img src="{% static 'v4/Tupperware/Pictures/food-conservation-ricesmart.png' %}" width="200" height="200"  alt=""/></td>
        </tr>
      <tr>
        <td width="66"><a href="#"><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></a></td>
        <td width="114" align="center">&nbsp;</td>
        <td width="66"><a href="#"><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></a></td>
      </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td colspan="3" align="center">Food Conservation Space Saver Ovals</td>
        </tr>
      <tr>
        <td colspan="3" align="center"><img src="{% static 'v4/Tupperware/Pictures/food-conservation-space-saver-ovals.png' %}" width="200" height="200"  alt=""/></td>
        </tr>
      <tr>
        <td width="66"><a href="#"><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></a></td>
        <td width="114" align="center">&nbsp;</td>
        <td width="66"><a href="#"><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="260" border="0">
      <tr>
        <td colspan="3" align="center">Kitchen Essentials Can Opener</td>
        </tr>
      <tr>
        <td colspan="3" align="center"><img src="{% static 'v4/Tupperware/Pictures/kitchen-essentials-can-opener.png' %}" width="200" height="200"  alt=""/></td>
        </tr>
      <tr>
        <td width="66"><a href="#"><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></a></td>
        <td width="114" align="center">&nbsp;</td>
        <td width="66"><a href="#"><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></a></td>
        </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td colspan="3" align="center"> Kitchen Essentials Knife Sharpener</td>
        </tr>
      <tr>
        <td colspan="3" align="center"><img src="{% static 'v4/Tupperware/Pictures/kitchen-essentials--knife-sharpener.png' %}" width="200" height="200"  alt=""/></td>
        </tr>
      <tr>
        <td width="66"><a href="#"><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></a></td>
        <td width="114" align="center">&nbsp;</td>
        <td width="66"><a href="#"><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></a></td>
      </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td colspan="3" align="center">Kitchen Sssentials Mandochef</td>
        </tr>
      <tr>
        <td colspan="3" align="center"><img src="{% static 'v4/Tupperware/Pictures/kitchen-essentials-mandochef.png' %}" width="200" height="200"  alt=""/></td>
        </tr>
      <tr>
        <td width="66"><a href="#"><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></a></td>
        <td width="114" align="center">&nbsp;</td>
        <td width="66"><a href="#"><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></a></td>
      </tr>
    </table></td>
  </tr>
</table>
<p>&nbsp;</p>
<table width="265" border="0" align="center">
  <tr>
    <td width="62" align="center"><a href="Tupperware/Pages/Tupperware1.html">Previous</a></td>
    <td width="38" align="center"><a href="Tupperware/Pages/Tupperware1.html"><strong>1</strong></a></td>
    <td width="38" align="center"><a href="Tupperware/Pages/Tupperware2.html">2</a></td>
    <td width="38" align="center"><a href="Tupperware/Pages/Tupperware3.html">3</a></td>
    <td width="67" align="center"><a href="Tupperware/Pages/Tupperware2.html">Next</a></td>
  </tr>
</table>
</body>
</html>
