<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Tupperware Products</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'header/css/header.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'v4/main/women.css' %}"/>
</head>

<body>
{% include 'header/header.html' %}
<table width="650" border="0" align="center">
  <tr>
    <td width="62" align="center"><a href="/products/category/women/1">Previous</a></td>
    <td width="38" align="center"><a href="/products/category/women/1"><strong>1</strong></a></td>
    <td width="38" align="center"><a href="/products/category/women/2">2</a></td>
    <td width="38" align="center"><a href="/products/category/women/3">3</a></td>
    <td width="38" align="center"><a href="/products/category/women/4">4</a></td>
    <td width="38" align="center"><a href="/products/category/women/5">5</a></td>
    <td width="38" align="center"><a href="/products/category/women/6">6</a></td>
    <td width="38" align="center"><a href="/products/category/women/7">7</a></td>
    <td width="38" align="center"><a href="/products/category/women/8">8</a></td>
    <td width="38" align="center"><a href="/products/category/women/9">9</a></td>
    <td width="39" align="center"><a href="/products/category/women/10">10</a></td>
    <td width="39" align="center"><a href="/products/category/women/11">11</a></td>
    <td width="43" align="center"><a href="/products/category/women/12">12</a></td>
    <td width="67" align="center"><a href="/products/category/women/1">Next</a></td>
  </tr>
</table>
<p>&nbsp;</p>
<table width="973" border="0" align="center">
  <tr>
    <td width="166" rowspan="4" align="center">
    	<nav class="floating-menu">
<h3>Cathegories</h3>

<div class="nav">      
				<ul id="menu">        
					<li class="mens">
						<a href="/products/category/men">Mens</a>
                        	<ul>
								<li><a href="/products/category/men/body/1">Body Spray</a></li>
								<li><a href="/products/category/men/deo/1">Deodorant</a></li>
							</ul>
					</li>       
					
				  <li class="womens">
						<a class="active" href="/products/category/women">Womens</a>
							<ul>
								<li><a href="/products/category/women/deo/1">Deodorant</a></li>
								<li><a href="/products/category/women/fragrance/1">Fragrance</a></li>
								<li><a href="/products/category/women/lotion/1">Lotion</a></li>
							</ul>
					</li>       
					
				  <li class="kids">
						<a href="/products/category/kids">Kids</a>
					</li>       

				  <li class="tupperware">
						<a href="/products/category/tupperware">Tupperwares</a>
					</li>        
					
				  <li class="deals">
						<a href="/products">Best Deals</a>
					</li>      
				</ul>   
			</div>

</nav>
    </td>
    <td width="263" height="249"><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td> <img src="Product.jpg" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></td>
        <td align="center" valign="middle">&nbsp;</td>
        <td><img src="{% static 'v4/files/Add.png' %}%" width="66" height="20"  alt=""/></td>
      </tr>
    </table></td>
    <td width="263"><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="Product.jpg" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></td>
        <td align="center">&nbsp;</td>
        <td><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></td>
      </tr>
    </table></td>
    <td width="263"><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="Product.jpg" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></td>
        <td align="center">&nbsp;</td>
        <td><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="248"><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
        </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="Product.jpg" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
        </tr>
      <tr>
        <td><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></td>
        <td align="center">&nbsp;</td>
        <td><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></td>
        </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="Product.jpg" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></td>
        <td align="center">&nbsp;</td>
        <td><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></td>
      </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="Product.jpg" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></td>
        <td align="center">&nbsp;</td>
        <td><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="226"><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
        </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="Product.jpg" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
        </tr>
      <tr>
        <td><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></td>
        <td align="center">&nbsp;</td>
        <td><img src="files/Add.png" width="66" height="20"  alt=""/></td>
        </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="Product.jpg" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></td>
        <td align="center">&nbsp;</td>
        <td><img src="files/Add.png" width="66" height="20"  alt=""/></td>
      </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="Product.jpg" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></td>
        <td align="center">&nbsp;</td>
        <td><img src="files/Add.png" width="66" height="20"  alt=""/></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
        </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="Product.jpg" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
        </tr>
      <tr>
        <td><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></td>
        <td align="center">&nbsp;</td>
        <td><img src="files/Add.png" width="66" height="20"  alt=""/></td>
        </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="Product.jpg" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></td>
        <td align="center">&nbsp;</td>
        <td><img src="files/Add.png" width="66" height="20"  alt=""/></td>
      </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="Product.jpg" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><img src="{% static 'v4/files/det.png' %}" width="66" height="20"  alt=""/></td>
        <td align="center">&nbsp;</td>
        <td><img src="{% static 'v4/files/Add.png' %}" width="66" height="20"  alt=""/></td>
      </tr>
    </table></td>
  </tr>
</table>
<p>&nbsp;</p>
<table width="650" border="0" align="center">
	<td width="62" align="center"><a href="Womens/Pages/Womens1.html">Previous</a></td>
    <td width="38" align="center"><a href="Womens/Pages/Womens1.html"><strong>1</strong></a></td>
    <td width="38" align="center"><a href="Womens/Pages/Womens2.html">2</a></td>
    <td width="38" align="center"><a href="Womens/Pages/Womens3.html">3</a></td>
    <td width="38" align="center"><a href="Womens/Pages/Womens4.html">4</a></td>
    <td width="38" align="center"><a href="Womens/Pages/Womens5.html">5</a></td>
    <td width="38" align="center"><a href="Womens/Pages/Womens6.html">6</a></td>
    <td width="38" align="center"><a href="Womens/Pages/Womens7.html">7</a></td>
    <td width="38" align="center"><a href="Womens/Pages/Womens8.html">8</a></td>
    <td width="38" align="center"><a href="Womens/Pages/Womens9.html">9</a></td>
    <td width="39" align="center"><a href="Womens/Pages/Womens10.html">10</a></td>
    <td width="39" align="center"><a href="Womens/Pages/Womens11.html">11</a></td>
    <td width="43" align="center"><a href="Womens/Pages/Womens12.html">12</a></td>
    <td width="67" align="center"><a href="Womens/Pages/Womens2.html">Next</a></td>
</table>
</body>
</html>