<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'header/css/header.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'products/products.css' %}"/>
</head>
<body>
{% include 'header/header.html' %}
<table width="973" border="0" align="center">
  <tr>
    <td width="166" height="249" align="center">
    	<nav class="floating-menu">
<h3>Categories</h3>

<div class="nav">


				<ul id="menu">
					<li class="home">
						<a class="active" href="#">lkjlkj</a>
                        	<ul>
								<li><a href="/products/stock/1">object</a></li>
								<li><a href="#">Sub Cathegory</a></li>
								<li><a href="#">Sub Cathegory</a></li>
							</ul>
					</li>

				  <li class="events">
						<a href="#">Main Cathegory</a>
							 <ul>
								<li><a href="#">Sub Cathegory</a></li>
								<li><a href="#">Sub Cathegory</a></li>
								<li><a href="#">Sub Cathegory</a></li>
							</ul>

					</li>

				  <li class="about">
						<a href="#">Main Cathegory</a>
                        	<ul>
								<li><a href="#">Sub Cathegory</a></li>
								<li><a href="#">Sub Cathegory</a></li>
								<li><a href="#">Sub Cathegory</a></li>
							</ul>
					</li>

				  <li class="contact">
						<a href="#">Main Cathegory</a>
                        	<ul>
								<li><a href="#">Sub Cathegory</a></li>
								<li><a href="#">Sub Cathegory</a></li>
								<li><a href="#">Sub Cathegory</a></li>
							</ul>
					</li>

				  <li class="registration">
						<a href="#">Main Cathegory</a>
                        	<ul>
								<li><a href="#">Sub Cathegory</a></li>
								<li><a href="#">Sub Cathegory</a></li>
								<li><a href="#">Sub Cathegory</a></li>
							</ul>
					</li>
				</ul>
			</div>

</nav>
    </td>
    <td width="263"><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td> <img src="{% static 'products/Product.jpg' %}" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="center" valign="middle">
        	<input type="button" name="button1" id="button1" value="Details">
          	<input type="button" name="button2" id="button2" value="Add to Cart"></td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
    <td width="263"><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="{% static 'products/Product.jpg' %}" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="center">
        	<input type="button" name="button3" id="button3" value="Details">
          	<input type="button" name="button4" id="button4" value="Add to Cart"></td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
    <td width="263"><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="{% static 'products/Product.jpg' %}" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="center">
          	<input type="button" name="button5" id="button5" value="Details">
          	<input type="button" name="button6" id="button6" value="Add to Cart"></td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="248">&nbsp;</td>
    <td><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="{% static 'products/Product.jpg' %}" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="center">
        	<input type="button" name="button7" id="button7" value="Details">
        	<input type="button" name="button8" id="button8" value="Add to Cart"></td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="{% static 'products/Product.jpg' %}" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="center">
        	<input type="button" name="button9" id="button9" value="Details">
            <input type="button" name="button10" id="button10" value="Add to Cart"></td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="{% static 'products/Product.jpg' %}" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="center">
        	<input type="button" name="button11" id="button11" value="Details">
          	<input type="button" name="button12" id="button12" value="Add to Cart"></td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="226">&nbsp;</td>
    <td><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="{% static 'products/Product.jpg' %}" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="center">
        	<input type="button" name="button13" id="button13" value="Details">
          	<input type="button" name="button14" id="button14" value="Button"></td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="{% static 'products/Product.jpg' %}" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="center">
        	<input type="button" name="button15" id="button15" value="Details">
          	<input type="button" name="button16" id="button16" value="Button"></td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="{% static 'products/Product.jpg' %}" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="center">
        	<input type="button" name="button17" id="button17" value="Details">
          	<input type="button" name="button18" id="button18" value="Button"></td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="{% static 'products/Product.jpg' %}" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="center">
        	<input type="button" name="button19" id="button19" value="Details">
          	<input type="button" name="button20" id="button20" value="Add to Cart"></td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="{% static 'products/Product.jpg' %}" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="center">
        	<input type="button" name="button21" id="button21" value="Details">
          	<input type="button" name="button22" id="button22" value="Add to Cart"></td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
    <td><table width="260" border="0">
      <tr>
        <td width="66">&nbsp;</td>
        <td width="114" align="center">Product Name</td>
        <td width="66">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="{% static 'products/Product.jpg' %}" width="113" height="150"  alt=""/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="center">
        	<input type="button" name="button23" id="button23" value="Details">
          	<input type="button" name="button24" id="button24" value="Add to Cart"></td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>